@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace svg "http://www.w3.org/2000/svg";
@namespace mml "http://www.w3.org/1998/Math/MathML";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace gndo "https://d-nb.info/standards/elementset/gnd#";
@namespace dc "http://purl.org/dc/elements/1.1/";
@namespace tei "http://www.tei-c.org/ns/1.0";

oxy|comment {
    display: block !important;
    color: green !important;
    background: white !important;
    margin-left: 5px !important;
    /*font-family: monospace !important;*/
}

trunk:before {
    content: oxy_xpath("./@name");
    display: block;
    font-size: larger;
    font-family: 800;
    margin-left: 5px;
}

trunk {
    border-left: 8px solid burlywood;
    
}

branch {
    display: block;
    border-left: 8px solid;
    border-color: oxy_xpath("if (./@status = 'death') then ('gray') else ('rgb(189, 156, 114)')");
    background: oxy_xpath("if (./@status = 'death') then ('gray') else ('burlywood')");
    color: oxy_xpath("if (./@status = 'death') then ('white') else ('black')");
    padding-left: 5px;
}

leaf:before {
    content: '”';
    margin-right: 0px;
    position: relative;
    top: -3px;
    left: -13px;
}

leaf {
    display: block;
    border-left: 3px solid gray;
    margin-left: 30px;
    list-style-type: disc;
    font-style: italic;
}

leaf:hover {
    border-color: rgb(196, 65, 65);
    border-color: oxy_xpath("if (.[@color]) then (data(./@color)) else ('rgb(196, 65, 65)')");
}

/* FAUNA */
nest, egg, bird {
    display: none;
}

/* TEI */
tei|div {
    display: block;
}

tei|head {
    display: block;
    font-weight: 800;
}

tei|p {
    display: block;
    margin-bottom: 10px;
}

tei|egXML {
    display: block;
    font-family: monospace;
    padding: 10px;
}

tei|list tei|item {
    display: block;
}

tei|ref {
    link: oxy_xpath("@target");
    color: blue;
    text-decoration: underline;
}
